////////////////////////////////////////////
// Dan Nielsen
////////////////////////////////////////////
doctype html
html(lang='en')
  head
    title chat
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='css/chat.css')
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
  body(style='background: #ffc')
    ul(id='messages')
    form(action='')
      input(id='m' autocomplete='off')
      button &rarrhk;
script(src='js/chat.js')
