////////////////////////////////////////////
// Dan Nielsen
////////////////////////////////////////////
doctype html
head
  title continua
  meta(charset='utf-8')
  link(rel='stylesheet', type='text/css', href='css/continua.css')
  meta(name='mobile-web-app-capable', content='yes')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  script(src='js/jquery-3.3.1.min.js')
div#page-container
  .custom-select
    a(href='https://www.youtube.com/watch?v=JCspg3Nxjxg&list=PL0RyYrt3lUnWLK_sNwurzMSkce2uTtaTO' target='_blank')
      img.help-element(src='img/help.png' title='help')
    input.conscript-loading-element(type='image' src='img/loading.gif' title='please wait')
    select#lang
      option CHOOSE SCRIPT
      each filename in filenameList
        option=filename
    form
      input.username-element(type='text' placeholder='USERNAME' pattern='[A-Za-z0-9]+')
    //- .donate-element
      form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
        input(type="hidden" name="cmd" value="_donations")
        input(type="hidden" name="business" value="danwnielsen@gmail.com")
        input(type="hidden" name="currency_code" value="USD")
        input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="thank you!" alt="donate")
        img(alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1")
    .menu-element(onclick="hideAll(); setVisibility('font',true)") font
    .menu-element(onclick="hideAll(); setVisibility('adjust',true)") adjust
    .menu-element(onclick="hideAll(); setVisibility('script',true)") script
    // <div class="menu-element gloss-button" onclick="hideAll(); setVisibility('gloss',true)">gloss</div>
    div#menu-button-container
      input#download-button.menu-element(type='image' src='img/download.png' title='save continua svg file' onclick='setVisibility("save-needed",false); downloadSVG();')
      img.save-needed-element(src='img/save-needed.png' style='height:1.33em;width:auto;margin-left:0' title='save to see font changes')
      .menu-element.file-upload(style='cursor:auto')
        label(for='files' style='cursor:pointer')
          img(src='img/open.png' title='open continua svg file' style="height:1.15em; display:inline-block;")
        input#files(type='file' name='files[]' multiple='')
      input#fullscreen-button.menu-element(type='image' src='img/fullscreen.png' title='fullscreen' style='margin-left:0' onclick='toggleFS();')
      div.menu-element(style='cursor:auto')
        input.otf-loading-element(type='image' src='img/loading-small.gif' title='please wait' style='cursor:pointer')
        input.otf-button-element(type='image' src='img/otf.png' title='download otf' style='cursor:pointer' onclick='downloadOTF();')
        input.chat-loading-element(type='image' src='img/loading-small.gif' title='please wait' style='cursor:pointer')
        input.chat-button-element(type='image' src='img/chat.png' title='chat' style='cursor:pointer' onclick='openChat();')
  br
  /////////////////////////////
  // FONT
  /////////////////////////////
  canvas#font-canvas.font-element(width='500' height='500' style="display:none")
  textarea#font-code.font-element(type='text' spellcheck='false' placeholder='FONT\n\
POINTS\n\
a b c d e\n\
f g h i j\n\
k l m n o\n\
p q r s t\n\
u v w x y\n\
SPECIAL CHARACTERS\n\
0 TO 9 ARE CONNECTING CURVES\n\
/ IS CONNECTING LINE\n\
- HALFSTEP RIGHT\n\
| HALFSTEP DOWN\n\
+ HALFSTEP DOWN AND RIGHT\n\
PREFIX SPECIAL CHARACTERS\n\
- ADVANCE MINISPACE\n\
| ADVANCE HALF SPACE\n\
+ ADVANCE FULL SPACE\n\
@ TRACE ANOTHER PATH\n\
* FIX PATH\n\
^ NUDGE GLYPH UP\n\
> NUDGE GLYPH RIGHT\n\
EXAMPLE\n\
+a2b5c-m/x\n\
|--m8j0l8xa5f4b2h')
  #font-svg-container-container.font-element
    #font-svg-container.font-element
      p(style='font-size:.5em') Don&apos;t see the font you loaded? Scroll the textbox
  /////////////////////////////
  // ADJUST
  /////////////////////////////
  div.adjust-element(style='width:100%; text-align:left')
    input#font-name(type='text' onblur='setAdjustSetting()' placeholder='font name')
    br
    input#note(type='text' onblur='setAdjustSetting()' placeholder='notes about font (author name, etc.)')
    br
    select#weight(onchange='setAdjustSetting()')
      option(value='light' selected='selected') light
      option(value='bold') bold
    select#size(onchange='setAdjustSetting()')
      option(value='small' selected='selected') small
      option(value='large') large
    select#style(onchange='setAdjustSetting()')
      option(value='plain' selected='selected') plain
      option(value='dark') dark
      option(value='illuminated') illuminated
      option(value='terminal') terminal
      option(value='papyrus') papyrus
      option(value='fire') fire
      option(value='stone') stone
      option(value='stitch') stitch
      option(value='splotch') splotch
      option(value='shadow') shadow
    br
    select#direction(onchange='setAdjustSetting(); setVisibility("save-needed",true)')
      option(value='right-down' selected='selected') right-down
      option(value='down-right') down-right
      option(value='down-left') down-left
    select#space(onchange='setAdjustSetting(); setVisibility("save-needed",true)')
      option(value='0') no space
      option(value='.1') .1
      option(value='.2') .2
      option(value='.3') .3
      option(value='.4') .4
      option(value='.5'  selected='selected') normal space
      option(value='.6') .6
      option(value='.7') .7
      option(value='.8') .8
      option(value='.9') .9
      option(value='1') 1
      option(value='1.1') 1.1
      option(value='1.2') 1.2
      option(value='1.3') 1.3
      option(value='1.4') 1.4
      option(value='1.5') 1.5
      option(value='1.6') 1.6
      option(value='1.7') 1.7
      option(value='1.8') 1.8
      option(value='1.9') 1.9
      option(value='2') 2
    select#pen(onchange='setAdjustSetting(); setPen(); setVisibility("save-needed",true)')
      option(value='round') round
      option(value='medium' selected='selected') medium
      option(value='sharp') sharp
    progress.pen-progress-element(value='0' max='100' title='please wait')
    br
    select#view(onchange='setAdjustSetting()')
      option(value='view single page' selected='selected') view single page
      option(value='view full text') view full text
    br
  textarea#kerning-map.adjust-element(type='text' spellcheck='false' onblur='loadKerningMap(); setVisibility("save-needed",true)' placeholder='KERNING MAP\n\
SPECIAL CHARACTERS\n\
< MINISPACE LEFT\n\
> MINISPACE RIGHT\n\
EXAMPLE\n\
69<<<20-ff 20-ff<<<69')
  img#utf-table.adjust-element(src='img/iso-8859-1.jpg')
  /////////////////////////////
  // SCRIPT
  /////////////////////////////
  iframe.chat-element.script-element(src='' width='100%' height='50%' frameborder='0')
  textarea#phoneme-map.script-element.half-width.under(type='text' spellcheck='false' onblur='loadPhonemeMap()' placeholder="PHONEME MAP\n\
EXAMPLE\n\
sh,ʃ th,θ c,k x,tʃ T,th q,ŋ %,ð á,a à,a í,I î,I i,I ë,ε (,' ),' !,' ?,' :,'")
  textarea#grapheme-map.script-element.half-width.right.under(type='text' spellcheck='false' onblur='loadGraphemeMap()' placeholder='GRAPHEME MAP\n\
SPECIAL CHARACTERS\n\
- MINISPACE  | HALFSPACE  + FULLSPACE\n\
EXAMPLE\n\
a,a---- b,b|-- c,c+ w,uu y,ii dzh,j ch,tsh')
  div#conscript-text-container
    img.script-element.play-element(src='img/play.png' onclick='if (alreadyPlaying) {arrTxt=null; return;} txt=tmpTxt; phProcess()')
    div#conscript-text.script-element.half-width.under.norm-height(type='text' spellcheck='false' style='positive:relative; overflow-y:scroll; text-orientation: upright; writing-mode: horizontal-tb;' readonly='')
  textarea#user-text.script-element.half-width.right.under.norm-height(type='text' spellcheck='false' onselect='txt=getSelectedText(); grProcess()' placeholder="TYPE IN YOUR CONSCRIPT\n\
HIGHLIGHT TEXT TO PLAY AUDIO\n\
EXAMPLE\n\
run'dærir saran hwi saiar in hornilîn hwi darxarîr nasil simoriat.")
  textarea#console.script-element.under(type='text' spellcheck='false' readonly='')
  // GLOSS
  //
    <textarea id="word-category" type="text" class="gloss-element half-width under norm-height" spellcheck="false" placeholder="WORD CATEGORY">
    </textarea>
    <textarea id="definition" type="text" class="gloss-element half-width right under norm-height" spellcheck="false" placeholder="DEFINITION">
    </textarea>
script(src='js/xenphonia.js')
